<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<table>
    <thead>
    <th>Project Title</th>
    <th>Start date</th>
    <th>Deadline date</th>
    <th>Final Date</th>
    </thead>

    <tbody>
    <tr th:each="project: ${projectList}">
        <td th:text="${project.getTitle()}"/>
        <td th:text="${project.getStartDate()}"/>
        <td th:text="${project.getDeadlineDate()}"/>
        <td th:text="${project.getFinalDate()}"/>
    </tr>
    </tbody>

</table>

<br>

<a th:href="@{/createproject}">
    <button>Add project</button>
</a>

<a th:href="@{/logout}">
    <button class="logout">Logout</button>
</a>

</body>
</html>
