<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<table>
<thead>
<th>Project Title</th>
<th>Start date</th>
<th>Deadline date</th>
<th>Final Date</th>
<th>IsDone</th>
</thead>

    <tbody>
    <tr th:each="projectList: ${projectList}">

        <td th:text="${projectList.getTitle()}"/>




    </tr>
    </tbody>

</table>

<br>

<a th:href="@{/project}">
    <button>Add project</button>
</a>

<a th:href="@{/logout}">
    <button class="logout">Logout</button>
</a>

</table>
</body>
</html>