<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Subtasks</title>
</head>

<body>
<table>

  <thead>
  <th>Title</th>
  <th>Description</th>
  <th>Estimate Time</th>
  <th>Final Time</th>
  </thead>

  <tbody>
  <tr th:each="subtask: ${subtasks}">

    <td th:text="${subtask.getTitle}"/>
    <td th:text="${subtask.getDescription()}"/>
    <td th:text="${subtask.getEstimated_time()}"/>
    <td th:text="${subtask.getFinal_time()}"/>
  </tr>
  </tbody>
</table>

<br>

<a th:href="@{/create_subtask/{taskID} (taskID=${taskID})}">
  <button> Add SubtaskTask</button>
</a>

<a th:href="@{/logout}">
  <button class="logout">Logout</button>
</a>

</body>
</html>

