<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Task</title>
</head>
<body>
<table>
  <thead>
  <th>Title</th>
  <th>Description</th>
  <th>Project ID</th>
  </thead>

  <tbody>
  <tr th:each="task: ${task}">
    <td th:text="${task.getTitle()}"/>
    <td th:text="${task.getDescription()}"/>
    <td>
    <button type="submit">
      <a th:href="@{create_task/{project_id} (project_id=${task.get(project_id)}) }">Add task</a>
    </button>
    </td>
  </tr>
  </tbody>

</table>

<br>

<a th:href="@{/create_task}">
  <button class="add task">add task</button>
</a>



<a th:href="@{/logout}">
  <button class="logout">Logout</button>
</a>

</body>
</html>
