<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Task</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container" style="padding-top: 20px;">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Tasks</h3>
      <table class="table">
        <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task: ${task}">
          <td th:text="${task.getTitle()}"></td>
          <td th:text="${task.getDescription()}"></td>
          <td><a th:href="@{/subtasks/{task_id} (task_id=${task.getTaskID()})}" class="btn btn-primary">Subtasks</a>
            <form method="post" th:action="@{/delete_task/{task_id} (task_id=${task.getTaskID()})}" style="display: inline-block;">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </tr>
        </tbody>
      </table>
      <br>
      <a th:href="@{/create_task/{project_id} (project_id=${project_id})}" class="btn btn-primary">Add Task</a>
      <a th:href="@{/logout}" class="btn btn-danger">Logout</a>
    </div>
  </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
